{
    "semi": false,
    "printWidth": 80,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "proseWrap": "always"
            }
        },
        {
            "files": "*.md",
            "options": {
                "proseWrap": "always"
            },
        }
    ]
}
